@using PagedList.Mvc
@model PagedList.IPagedList<MovieStreamer.ViewModels.SubscriptionViewModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>History</h2>

<table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead> 
        <th>Subscription Id</th>
        <th>Subscription Type</th>
        <th>Date</th>
        <th>Payment Method</th>
        <th>Price</th>
        <th>Expire Date</th>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.SubscriptionTypeText)</td>
                    <td>@Html.DisplayFor(modelItem => item.SubscriptionDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.PaymentMethodText)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td>@Html.DisplayFor(modelItem => item.ExpiredDate)</td>
                </tr>
            }
        }
    </tbody>
</table>